<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Session Details</title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      function leaveSession(id) {
        fetch(`/sessions/${id}/leave`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }

      function joinSession(id) {
        fetch(`/sessions/${id}/join`, {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }

      function removeSessionMember(memberName) {
        fetch(`/sessions/<%= sessionId %>/removeSessionMember/${memberName}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }

      function removeSessionPlayer(playerId) {
        fetch(`/sessions/<%= sessionId %>/removeSessionPlayer/${playerId}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
      
      function toggleReasonField() {
        var reasonField = document.getElementById("reasonField");
        var displayText = document.getElementById("displayText");
        
        if (reasonField.style.display === "block") {
          reasonField.style.display = "none";
          displayText.textContent = "";
        } else {
          reasonField.style.display = "block";
          displayText.textContent = "Give reason of cancellation";
          window.scrollTo(0, document.body.scrollHeight);
        }
      }
    </script>
  </head>

  <body>
    <%- include('navbar') %>
    <div class="grid grid-cols-6 pt-10">
      <div class="col-start-2 col-span-5">
        <div>
          <span class="text-3xl font-semibold text-gray-600">
            <%= title %> session
          </span>
          <% if ( isCreator && session.isCanceled===false && isPrevious
          ===false) { %>
          <span class="my-5 ml-5">
            <a
              href="/sessions/<%= session.id %>/edit"
              class="bg-slate-100 hover:bg-slate-200 text-cyan-900 px-3 py-1 rounded font-medium mr-2 mb mt-5"
            >
              Edit session
            </a>
          </span>
          <% } %>

          <p class="my-5 text-xl">
            This session is scheduled for <%=
            session.playDate.toLocaleString('en-US', { weekday: 'long' , month:
            'long' , day: 'numeric' , year: 'numeric' , hour: 'numeric' ,
            minute: 'numeric' , hour12: true }) %> ,<% if(!isPrevious) { %> to be <% } %> played at " <%=
            session.venue %>"
          </p>
          <p class="my-5 text-xl">
            This session is created by : <%= creatorName %>
          </p>
          <h1 class="text-2xl font-semibold text-gray-600">
            Players (<%= sessionMembers.length + sessionPlayers.length %>)
          </h1>

          <ul>
            <% for( var i=0 ; i < sessionMembers.length ; i++) { %>
            <li>
              <div
                class="border border-gray-600 text-teal-800 font-semibold rounded p-2 w-40 my-2 flex place-content-between"
              >
                <%= sessionMembers[i] %> <% if (isCreator &&
                session.isCanceled===false && isPrevious ===false ) { %>
                <a
                  href=""
                  onclick="removeSessionMember('<%= sessionMembers[i] %>')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="svg-inline w- h-4 inline"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </a>
                <% } %>
              </div>
            </li>
            <% } %>
          </ul>

          <ul>
            <% for( var i=0 ; i < sessionPlayers.length ; i++) { %>
            <li>
              <div
                class="border border-gray-600 text-teal-800 font-semibold rounded p-2 w-40 my-2 display:inline flex place-content-between"
              >
                <% if((sessionPlayers[i].id === creatorId) &&
                (sessionPlayers[i].id != userId)) { %> <%=
                sessionPlayers[i].firstName+" "+sessionPlayers[i].lastName %>
                <p class="font-light">organizer</p>
                <% } else { %> <% if((sessionPlayers[i].id === userId)&&
                (sessionPlayers[i].id === creatorId) ) { %> You
                <p class="font-light">organizer</p>
                <% } else { %> <% if((sessionPlayers[i].id === userId)&&
                (sessionPlayers[i].id != creatorId) ) { %> You <% } else { %>
                <%= sessionPlayers[i].firstName+" "+sessionPlayers[i].lastName
                %> <% } %> <% } %> <% } %> <% if (isCreator &&
                session.isCanceled===false && isPrevious ===false ) { %>
                <a
                  href=""
                  onclick="removeSessionPlayer('<%= sessionPlayers[i].id %>' )"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="svg-inline w- h-4 inline"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    />
                  </svg>
                </a>
                <% } %>
              </div>
            </li>
            <% } %>
          </ul>

          <% if ( isJoined===true) { %>
          <div>
            <h5 class="my-5 text-xl">
              You <% if ( isPrevious) { %>were <% } %> <% if ( !isPrevious) {
              %>are <% } %> a <% if ( !isCreator) { %>participitant in<% } %> <%
              if ( isCreator) { %> organizer of<% } %> this Session
            </h5>
          </div>

          <% } %> <% if (((session.playersneeded)>0 && session.isCanceled ===
          false && isPrevious === false) || ((session.playersneeded)>0 &&
          isPrevious === false )) { %> <% if (isJoined===false &&
          allowToJoin===true) { %>

          <h3 class="my-5">Click Join to join the session</h3>
          <a
            href="/sessions/<%= sessionId %>"
            class="border border-gray-600 text-white bg-cyan-600 hover:bg-cyan-800 my-3 font-medium rounded px-1.5 py-1"
            onclick="joinSession(<%= sessionId %>)"
            >+ Join Session</a
          >
          <br />
          <% } %> <% } %> <% if (allowToJoin===false &&
          userJoinedSession.isCanceled===false && isJoined===false) { %>
          <h3 class="text-xl">
            You Can't join this session as you have the following Session at the
            same time
          </h3>
          <div>
            <table>
              <br />

              <tr>
                <td>
                  <div
                    class="border border-gray-600 text-gray-900 rounded p-2 w-full"
                  >
                    <a
                      href="/sessions/<%=userJoinedSession.id %>"
                      class="text-green-600"
                    >
                      <div class="mr-18 display: inline">
                        <%=userJoinedSession.playDate.toString().substring(0,25)%>
                      </div>
                    </a>
                  </div>
                </td>
              </tr>
              <% } %>
            </table>
          </div>

          <% if ((session.playersneeded)==0 && isJoined===true &&
          isPrevious===false && session.isCanceled===false ) { %>
          <div class="text-xl my-2">This Session is Fully booked</div>
          <% } %> <% if (isJoined && isPrevious===false &&
          session.isCanceled===false ) { %>
          <h5 class="my-3">Do You Want to leave this session ?</h5>
          <div class="my-5">
            <a
              href="/sessions/<%= sessionId %>"
              class="bg-slate-100 hover:bg-slate-200 text-grey-900 px-3 py-1 rounded font-medium mr-2"
              onclick="leaveSession(<%= sessionId %>)"
            >
              Leave Session</a
            >
          </div>

          <% } %> <% if ((session.playersneeded)==0 && isJoined===false) { %>
          <div class="text-xl">
            This session is Fully Booked. No slots available
          </div>
          <% } %> <% if ( isCreator && session.isCanceled===false && isPrevious
          ===false) { %>

          <div class="">
            <% if ((session.isCanceled===false) && (isCreator)) { %>
            <form
              action="/sessions/<%= sessionId %>/cancel"
              method="POST"
              class="my-5"
            >
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button
                type="button"
                class="bg-slate-100 hover:bg-slate-200 text-red-600 px-3 py-1 rounded font-medium mr-2"
                onclick="toggleReasonField()"
              >
                Cancel session
              </button>
              <br />
              <br />
            <p id="displayText"></p>
              <div id="reasonField" style="display: none">
                <textarea
                  name="reason"
                  class="border border-gray-600 p-2 rounded"
                  rows="4"
                  cols="50"
                  placeholder="Reason.."
                ></textarea>
                <br />
                <button
                  type="submit"
                  class="bg-slate-100 hover:bg-slate-200 text-red-700 px-3 py-1 rounded font-medium mr-2 mb mt-5"
                >
                  Confirm Cancellation
                </button>
              </div>
            </form>
            <% } %>
          </div>
          <% } %> <% if (session.isCanceled===true) { %>
          <div class="my-5">
            <h5 class="text-xl text-red-500">
              This session is canceled due to :
            </h5>
            <h5 class="text-xl"><%= reason %></h5>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
