<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Edit Session</title>
  </head>
  <body>
    <% if(!isCanceled && isCreator && !isPrevious) { %>
    <%- include('navbar') %>
 
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <h2 class="text-3xl font-semibold text-gray-600">Edit session</h2>
        <form action="/sessions/<%= sessionId %>/edit" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="_method" value="PUT" />
          <div class="py-3">
            <label for="playDate" class="text-xl font-semibold text-gray-600"
              >When will this session be held?</label
            >
            <input
              name="playDate"
              class="border border-gray-600 text-gray-900 rounded p-2"
              type="datetime-local"
              value="<%= session.playDate.toISOString().slice(0, 16) %>"
            />
          </div>
          <div class="py-3">
            <label for="venue" class="text-xl font-semibold text-gray-600"
              >Where will this session be played?</label
            >
            <input
              name="venue"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              type="text"
              value="<%= session.venue %>"
            />
          </div>
          <div class="py-3">
            <label for="playernames" class="text-xl font-semibold text-gray-600"
              >Who will be joining this session? (comma-seperated)</label
            >
            <input
              type="text"
              name="playernames"
              id="playernames"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              value="<%= session.playernames %>"
            />
          </div>
          <div class="py-3">
            <label
              for="playersneeded"
              class="text-xl font-semibold text-gray-600"
              >How many more players are needed?</label
            >
            <input
              name="playersneeded"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              type="number"
              value="<%= session.playersneeded %>"
            />
          </div>
          <div class="py-3">
            <button
              type="submit"
              class="text-white bg-cyan-600 hover:bg-cyan-800 font-medium rounded px-5 py-2"
            >
              Edit
            </button>
          </div>
        </form>
        <div class="text-grey-600 ml-3 my-2"><% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li > <%= messages.error[i] %></li>
          <% } %>
        <% } %></div>
      </div>
    </div>
    <% } else { %>
      invalid action
      <% } %>
  </body>
</html>
