<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sessions</title>
    <script>
      var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      function deleteSport(id) {
        fetch(`/sport/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.href = "/sport";
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>

  <body>
    <%- include('navbar') %>
    <div class="grid grid-cols-6 pt-10">
      <div class="col-start-3 col-span-2">
        <span class="text-4xl font-semibold text-gray-600"><%= title %></span>

        <% if (isAdmin) { %>

        <span>
          <a
            href="/sport/<%= sportId %>/edit"
            class="bg-cyan-600 hover:bg-cyan-800 text-white px-3 py-1 rounded font-medium ml-7 my-3"
          >
            <span> Edit Sport </span></a
          >
        </span>
        <span>
          <a
            href="/sport"
            class="bg-cyan-600 hover:bg-cyan-800 text-white px-3 py-1 rounded font-medium ml-2 mb-3"
            onclick="deleteSport(<%= sportId %>)"
            >Delete Sport
          </a></span
        >

        <% } %>
        <hr class="my-5 h-0.5 bg-black opacity-50" />
        <div>
          <h1 class="mt-5 text-2xl font-bold text-gray-600">
            Upcoming sessions (<%= upcomingSessions.length %>)
          </h1>
          <table>
            <br />
            <% if(upcomingSessions.length===0) { %>
            <h5 class="text-grey font-semibold">
              There are no upcoming Sessions available to Join. Do you want to
              create one ?
            </h5>

            <% } %> <% if(upcomingSessions.length!=0) { %>
            <h5 class="my-3">
              <%=upcomingSessions.length %> sessions Available
            </h5>
            <% for( var i=0 ; i < upcomingSessions.length ; i++) { %>
            <tr>
              <td>
                <a
                  href="/sessions/<%=upcomingSessions[i].id %>"
                  class="text-green-600"
                >
                  <div
                    class="bg-white hover:bg-stone-50 border border-gray-600 text-teal-700 font-semibold rounded p-2 my-0.5 w-full"
                  >
                    <div class="mr-18 display: inline">
                      <%= new
                      Date(upcomingSessions[i].playDate).toLocaleString('en-US',
                      { weekday: 'short', month: 'short', day: '2-digit', year:
                      'numeric', hour: '2-digit', minute: '2-digit', second:
                      '2-digit', hour12: true }) %>
                    </div>
                    <% if (upcomingSessions[i].playersneeded>1) { %>
                    <div class="pl-5 pr-2 display: inline">
                      <%=upcomingSessions[i].playersneeded %> slots
                    </div>
                    <% } %> <% if (upcomingSessions[i].playersneeded===1) { %>
                    <div class="text-red-600 pl-5 pr-2 display: inline">
                      Last slot
                    </div>
                    <% } %> <% if (upcomingSessions[i].playersneeded===0) { %>
                    <div class="text-black-600 pl-5 pr-2 display: inline">
                      Fully Booked
                    </div>
                    <% } %>
                  </div>
                </a>
              </td>
            </tr>
            <% } %> <% } %>
          </table>
        </div>
        <br />
        <span class="mt-5 mr-5">
          <a
            href="/sport/<%= sportId %>/new_session"
            class="bg-slate-50 hover:bg-slate-100 text-grey-900 px-3 py-1 rounded font-medium mr-2 mb mt-5"
            >+ create a new session</a
          >
        </span>
        <span class="mt-5 mr-5">
          <a
            href="/sport/<%= sportId %>/prev_sessions"
            class="bg-slate-50 hover:bg-slate-100 text-grey-900 px-3 py-1 rounded font-medium mr-2 mb mt-5"
            >view previous sessions</a
          >
        </span>
        <div>
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
