<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sports Scheduler</title>
    <link rel="icon" type="image/png" href="views/favicon.jpg" />
  </head>
  <body>


    <%- include('navbar') %>
    
    <div class="grid grid-cols-10">
      <div class="my-9 col-start-4 col-span-4">
        <div class="text-center">
        <span class="text-center text-2xl font-semibold text-gray-800">
          Welcome <%= userName %> 
        </span>  <% if (isAdmin) { %>
        <span><a  class="bg-slate-100 hover:bg-slate-200 text-cyan-700 px-3 py-1 rounded font-medium ml-5" href="/reports">View Reports</a></span>  <% } %>  </div>
        <hr class="h-0.5 bg-black opacity-50 my-5" />
        <% if(userUpcomingSessions.length === 0) { %>
          <h5 class="text-xl text-center font-semibold text-gray-800 pb-5">
          You have no upcoming sessions available. Please join a new one by selecting below sports </h5>
          <% } %>
          <% if(userUpcomingSessions.length != 0) { %>
        <h5 class="text-xl text-center font-semibold text-gray-800 pb-5">
          You have the following upcoming Sessions
        </h5>
        <%- include('sessionList', {sessions: userUpcomingSessions}) %>
        

        <% } %>
        <hr class="h-0.5 bg-black opacity-50 my-5" />
            <h5 class="text-xl text-center font-semibold text-gray-800 pb-5">
              The following Sports are available. Please select one
            </h5>
              <div class="ml-24">
           
            <div class="flex flex-wrap " >
                <% for( var i = 0 ; i < allSports.length ; i++) { %>                    
                    <a
                      href="/sport/<%= allSports[i].id
                  %>"
                      class="text-teal-700 font-semibold no-underline"
                    >
                      <div
                        class= "mx-2 my-1 text-center border border-gray-600 text-white-900 bg-white hover:bg-stone-50 rounded  p-2 w-48"
                      >
                        <%=allSports[i].title %>
                      </div>
                    </a>
                <% } %>
          </div>
          </div>
          <% if (isAdmin) { %>
          <hr class="h-0.5 bg-black opacity-50 my-5" />
          <h5 class="text-xl text-center font-semibold text-gray-800 pb-3">
            You are Admin so you can create Sport
          </h5>
          <h5 class="text-xl text-center font-semibold text-gray-800 pb-3">
            Sports created By you : (<%=allAdminSports.length %>)
          </h5>
            <div class="ml-24">
              
         
          <div class="flex flex-wrap " >
              <% for( var i = 0 ; i < allAdminSports.length ; i++) { %>                    
                  <a
                    href="/sport/<%= allSports[i].id
                %>"
                    class="text-teal-700 font-semibold no-underline"
                  >
                    <div
                      class= "mx-2 my-1 text-center border border-gray-600 text-white-900 bg-white hover:bg-stone-50 rounded  p-2 w-48"
                    >
                      <%=allAdminSports[i].title %>
                    </div>
                  </a>
              <% } %>
        </div>
        </div>
        <% } %>
          <hr class="h-0.5 bg-black opacity-50 my-5" />
          <% if(createdUpcomingSessions.length === 0) { %>
            <h5 class="text-xl text-center font-semibold text-gray-800 pb-5">
            You have not created any upcoming session. Create a new one by selecting above sports </h5>
            <h5 class="text-xl text-center font-semibold text-gray-800 pb-5">
              Click here to see all your sessions <a href="my_sessions" class="text-teal-600 underline">all sessions</a> </h5>
            <% } %>

            <% if(createdUpcomingSessions.length != 0) { %>
          <h5 class="text-xl text-center font-semibold text-gray-800 pb-5">
            You Created the following upcoming Sessions
          </h5>
          <!-- display sessions -->
          <%- include('sessionList', {sessions: createdUpcomingSessions}) %>
         
          <% } %>
          <hr class="h-0.5 bg-black opacity-50 my-5" />
        </div>
      </div>
    </div>
  </body>
</html>
